body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
}


/* Heading Section */

.main-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* Title Section */

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}


/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 32%;
}


/* Feature Section */

#features {
    position: relative;
    background-color: #fff;
    z-index: 1;
}

.feature-title {
    font-weight: bolder;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonials Section */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    margin: 20px;
    border-radius: 100%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-col {
    padding: 3% 2%;
}


/* CTA Section*/

#cta {
    background-color: #ff4c68;
    color: #fff;
}


/* Footer Section */

#footer {
    color: #000;
}

.social-media {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}